body {
  background-color: #f0f9fa;
  font-family: "Roboto", sans-serif;
}

a {
  color: lightskyblue;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border: 1px solid #f0f9fa;
  padding: 0 0 30px 0;
}
.search-input {
  background-color: #f0f9fa;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-button {
  background-color: lightskyblue;
  border: none;
  border-radius: 6px;
  padding: 15px 20px;
  font-size: 16px;
  margin-left: 5px;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.city-name {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.city-weather {
    font-size: 16px;
    line-height: 24px;
    color: rgb(39, 33, 66, 0.4);
    font-weight:  500;
}
.city-weather strong {
    color: #f65282;
}

.weather_temp_container {
    display: flex;
}
.weather-temp{
    font-size: 88px;
    font-weight: bold;
    margin-left: 10px;
}
.weather_emoji {
    font-size: 44px;
    margin-top: 22px;
}
.weather_unit {
    margin-top: 16px;
    font-size: 28px;

}
footer {
  border: 1px solid #f0f9fa;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
